* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}


html {
  font-size: 62.5%;
}
@media (max-width: 1240px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 43.75%;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 87.5%;
  }
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #545971;
  font-size: 1.8rem;
  line-height: 2.8rem;
  background: #fff;
}

[class*=__container] {
  max-width: 147rem;
  margin: 0 auto;
  padding: 0px 1.5rem;
}

.header__container {
  max-width: 161.4rem;
}

[class*=__container-intro] {
  max-width: 191.4rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

body.checked {
  overflow: hidden;
}

.text-align-center {
  text-align: center;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mb-80 {
  margin-bottom: 8rem;
}

.header {
  background: #142257;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  position: relative;
}
@media (max-width: 1000px) {
  .header__container.active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0A1335;
    opacity: 0.5;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 1000px) {
  .header__burger {
    display: block;
  }
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 70%;
}
@media (max-width: 1000px) {
  .header__body {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    height: 100vh;
    right: 0%;
    left: 30%;
    bottom: 0;
    z-index: 20;
    background: #142257;
  }
}
.header__body.active {
  display: flex;
}

.img-logo {
  margin-right: 1rem;
  flex: 0 1 auto;
}
.img-logo:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.mobile-header {
  display: none;
}

@media (max-width: 1000px) {
  .mobile-header.active {
    display: flex;
    align-items: center;
    gap: 5.2rem;
    padding: 2rem;
  }
}

.services a {
  color: #fff;
  font-size: 1.8rem;
  padding: 1rem 0;
  display: inline-block;
  text-align: center;
  font-weight: 700;
}
.services a:hover, .services a:active {
  opacity: 0.7;
  transform: scale(1.1);
}
.services a::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.6rem;
  display: inline-block;
  background: #ff5e5e;
  border-radius: 50%;
  top: 0;
  left: 0;
}
@media (max-width: 1000px) {
  .services a {
    padding-bottom: 2.8rem;
  }
}

@media (max-width: 1000px) {
  .header__nav {
    flex: 1 1 auto;
  }
}

.nav {
  margin-right: 1rem;
}
@media (max-width: 1000px) {
  .nav {
    margin: 0;
  }
}
.nav__list {
  display: flex;
}
@media (max-width: 1000px) {
  .nav__list {
    display: flex;
    flex-direction: column;
  }
}
.nav__item:not(:last-child) {
  margin-right: 5.7rem;
}
@media (max-width: 1000px) {
  .nav__item:not(:last-child) {
    margin-right: 0;
  }
}
.nav__link {
  color: #fff;
  padding: 1rem 0;
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
}
.nav__link:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
@media (max-width: 1000px) {
  .nav__link {
    padding: 3.2rem 0;
  }
}/*# sourceMappingURL=style.css.map */